.book {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  text-align: left;
}

.book-container {
  background-color: antiquewhite;
  padding: 10px;
  border-radius: 10px;
}

.book__title,
.book__author {
  cursor: pointer;
}

.book__pub,
.book__contetn {
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .book {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  .book {
    grid-template-columns: repeat(1, 1fr);
  }
}
